:root {
  --primary-color: #007bff;
  --primary-hover-color: #0056b3;
  --background-color: #f8f9fa;
  --surface-color: #ffffff;
  --text-color: #212529;
  --text-secondary-color: #6c757d;
  --border-color: #dee2e6;
}

body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}